@import "colors";

.mail{
    width: 100%;
    max-width: 1024px;
    margin-top: 40px;
    background-color: $primary;
    color: $secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    

    input{
        width: 300px;
        height: 30px;
        border: none;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
    }
    button{
        height: 50px;
        background-color: #0071c2;
        color: $secondary;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 5rem;
    }
}